    .youfirst {
        padding-left: -100px;
    }
    
    a {
        font-family: "French Script MT";
        background-IMAGE: linear-gradient(to bottom, rgba(246, 187, 72, 1), rgba(196, 196, 196, 0) 90%);
        font-size: 30px;
        float: right;
        padding: 10px;
        position: relative;
        direction: rtl;
    }
    
    a:visited {
        color: rgb(90, 18, 18);
    }
    
    .nan-active {
        &::after {
            content: "";
            width: 100px;
            background-IMAGE: linear-gradient(to bottom, rgba(246, 187, 72, 1), rgba(196, 196, 196, 0) 90%);
            height: 3px;
            background-color: rgb(202, 132, 28);
            position: absolute;
            top: 10%;
            transform: translateX(-100px);
        }
    }
    
    .brows {
        margin-top: -50px;
        margin-left: -10px;
        margin-right: -30px;
        background-image: url("../assets/images/SLIDER-1.jpeg");
        width: 1250px;
        height: 900px;
        background-attachment: fixed;
        background-size: cover;
    }