    .lunch {
        margin-top: 5em;
        width: 300px;
        height: 200px;
        display: grid;
        align-items: center;
    }
    
    .lunch .breakfast .dinner {
        display: inline-flex;
        margin-left: 50px;
    }
    
    .dinner {
        margin-top: 5em;
        width: 300px;
        height: 200px;
        display: grid;
        align-items: center;
    }
    
    .breakfast {
        margin-top: 5em;
        width: 300px;
        height: 200px;
        display: grid;
        align-items: center;
    }
    
    .time {
        background-IMAGE: linear-gradient(to bottom, rgba(246, 187, 72, 1), rgba(196, 196, 196, 0) 90%);
        color: rgb(90, 18, 18);
        align-items: center;
        font-size: 50px;
        font-family: "French Script MT";
        text-align: justify;
        text-shadow: 50px;
    }
    
    .menu {
        display: inline-flex;
        margin-left: 20px;
        margin-top: 50px;
    }
    
    #dinner {
        margin-left: 10em;
    }
    
    #lunch {
        margin-left: 10em;
    }