h1{
    font-family: "French Script MT";
    color: aliceblue;
    font-size: 80;
    background-image: linear-gradient(to bottom  ,rgba(113, 111, 75, 0.78) ,rgba(196, 196, 196, 0) 90% );
    background-repeat: no-repeat;
    width: auto;
    height: 100;
}
p.home{
    font-size: 50;
    margin-left: 500;
    margin-bottom: 900;
    
    
}

body{
    
    background-image: url('C:/Users/pc/abirhsaini_khouloud-taouchikht/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}