h1{
    font-family: "French Script MT";
    color: aliceblue;
    
    background-image: linear-gradient(to bottom  ,rgba(113, 111, 75, 0.78) ,rgba(196, 196, 196, 0) 90% );
    background-repeat: no-repeat;
    width: auto;
    height: 100;
    
}
p{
    text-align: justify;
}
p.titre{
    font-size:90;
    float: left;
    top: 0;
    margin :-1;
}
p.home{
    float: right;
    font-size: 50;
    margin-right: 600;
    text-decoration :underline;
    
}
p.reservation{
    float: right;
    font-size: 50;
    margin-right: -258px;
    text-decoration :underline;

}
p.menu{
    float: right;
    font-size: 50;
    margin-right: -358px;
    text-decoration :underline;
}
p.aboutus {
    float: right;
    font-size: 50;
    margin-right: -500px;
    text-decoration :underline;
}
p.contact{
    float: right;
    font-size: 50;
    margin-right: -625px;
    text-decoration :underline;
}
.rectangle{
    float : lrft ;
    margin-left: 30px;
    margin-top: 40px;
    width : 30%;
    height:40%;
    border: 1px SOLID #333;
    padding:3em;
    background-IMAGE :linear-gradient(to bottom  ,rgba(113, 111, 75, 0.78) ,rgba(196, 196, 196, 0) 90% ) ;
    font-family: "French Script MT";
    text-align: center;
    
}
.rectangle p.a {
    margin-top:-36px;
    text-align: center;
    font-size : 5em;
    color: #AF1717;
    font-style: italic;
    text-decoration :underline
}

.rectangle p.ab {
    color: white;
    text-align: center;
    margin-top:-49px;
    font-size : 1em;

}
.rectangle2{
    float : right;
    margin-top: -15.82em;
    width : 30%;
    height:40%;
    border: 1px SOLID #333;
    padding:3em;
    background-IMAGE :linear-gradient(to bottom  ,rgba(113, 111, 75, 0.78) ,rgba(196, 196, 196, 0) 90% ) ;
    font-family: "French Script MT";
    text-align: center;
    
}
h2 {
    text-align: justify;
}
.rectangle2 p {
    margin-top:-36px;
    text-align: center;
    font-size : 3em;
    color: #AF1717;
    font-style: italic;
    text-decoration :underline
}
body{
    
    background-image: url('C:/Users/pc/abirhsaini_khouloud-taouchikht/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}